<br>
<h3>Today's Meals</h3>
  <meal-display *ngFor="#currentMeal of mealList | healthy:filterHealthy"
   (click)="mealClicked(currentMeal)"
   [class.selected]="currentMeal === selectedMeal"
   [meal] = "currentMeal">
  </meal-display>

  <div class="form-group">
  <select class="form-control"(change)="onChange($event.target.value)">
  <option value="all" selected="selected">Show All</option>
  <option value="healthy">Show Meals < 300 Calories</option>
  <option value="notHealthy">Show Meals > 300 Calories</option>
  </select>
  </div>

  <edit-meal-details *ngIf="selectedMeal" [meal]="selectedMeal">
  </edit-meal-details>
  <hr>
  <new-meal (onSubmitNewMeal)="createMeal($event)"></new-meal>
