body {
  background-color: #3498db;
}

.jumbotron {
  background-color: rgba(52, 73, 94, 0.2);
  border: 3px solid #fff;
  margin-top: 5%;
  color: #fff;
  font-size: 100px;
}

.appleHeart {
  width: 80px;
  height: 90px;
  margin-top: -3%;
}

.textAndHeart {
  border-bottom: 2px solid #fff;
}

.selected {
  color: #bdc3c7
}
